/* 上一个唱片的动画 */
.last-film {
    display: block !important;
    animation-name: last-film-animation;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

/* 从上一个到中间的动画 */
.from-last-to-current-film {
    display: block !important;
    animation-name: from-last-to-current-film-animation;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

/* 从中间到下一个唱片的动画 */
.from-current-to-next-film {
    display: block !important;
    animation-name: from-current-to-last-film-animation;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

/* 下一个唱片的动画 */
.next-film {
    display: block !important;
    animation-name: next-film-animation;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes last-film-animation {
    0% {
        transform: translate(-130%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}

@keyframes from-last-to-current-film-animation {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(130%, 0);
    }
}

@keyframes from-current-to-last-film-animation {
    0% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-130%, 0);
    }
}

@keyframes next-film-animation {
    0% {
        transform: translate(130%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}

.rotate-surface {
    display: block !important;
    animation-name: rotate-surface-animation;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate-surface-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
