body {
    margin: 0;
    border: 0;
}

html {
    font-size: 70px;
}

#app {
    color: #4a4a4a;
    background-color: #f7f7f7;
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

#player {
    z-index: 998;
    position: fixed;
    width: 100%;
    padding: 1vh 0 1vh 0;
    background-color: white;
    left: 0;
    bottom: 0;
}

#player .controller #player-play,
#player .controller #player-list {
    width: 25px;
    height: 25px;
}

#player .controller #player-play {
    margin: 0 3vw;
}

#player .controller #player-list {
    margin: 0 0 0 3vw;
}

#player .controller #player-last,
#player .controller #player-next {
    width: 15px;
    height: 15px;
}

#player #player-surface {
    width: 12.3vw;
    height: 7vh;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 3vw;
}

#player #player-title {
    font-size: 0.18rem;
}

#player #player-album {
    font-size: 0.17rem;
    color: #a4a4a4;
}

#player .middle {
    width: 50vw;
    text-overflow: ellipsis;
    margin-right: 3vw;
    white-space: nowrap;
    overflow: hidden;
}
