body {
    margin: 0;
    border: 0;
}

#app {
    color: #4a4a4a;
    height: calc(100vh);
    background-color: #f7f7f7;
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}
