#app {
    padding: 5px 5px;
    min-height: calc(100vh);
}

.top-bar {
    padding: 8px 3px;
    font-size: .185rem;
    border-radius: 5px;
    background-color: white;
}

.music-item {
    background-color: white;
    padding: 1.5vh 2.5vw;
    margin: 5px 0;
    display: flex;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.music-item .surface {
    width: 14vw;
    height: 7.9vh;
    object-fit: cover;
    border-radius: 1vh;
}

.music-item .play-btn,
.music-item .more-action {
    width: 6vw;
    height: 6vw;
}

.music-item .middle {
    font-size: .2rem;
    margin: 0 10px;
    width: 55vw;
}

.music-item .middle .album {
    font-size: .155rem;
    color: #a4a4a4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
