#app {
    padding: 2vw 2vw;
    min-height: calc(100vh) !important;
}

.top-bar .judge-music {
    width: 8vw;
    height: 3vh;
}

.top-bar .menu {
    margin: 1vh 0;
    width: 7vw;
    height: 4vh;
}

.top-bar input {
    width: 70vw;
    border: 0;
    border-radius: 5vw;
    padding: 1vh 3vw;
    outline: none;
    position: relative;
}

.slideshow {
    margin-top: 3vh;
    width: 100%;
    height: 22vh;
    margin-bottom: 2vh;
}

.slideshow img {
    border-radius: 3vw;
    width: 100%;
    height: 100%;
}

.card {
    padding: 3vw;
    background-color: white;
    border-radius: 5vw;
}

.header {
    margin-bottom: 1vh;
}

.header .text {
    font-weight: bold;
    font-size: 0.2rem;
}

.header .more {
    font-size: 0.1rem;
    padding: 0.3vh 2vw;
    border-radius: 10vw;
    background-color: white;
    border: 1px solid #cccc;
}

.song-list {
    overflow: scroll;
}

.song-list .song-item {
    margin: 0 3vw;
}

.song-list .song-item img {
    width: 26vw;
    border-radius: 5px;
    height: 15vh;
    object-fit: cover;
}

.song-list .song-item .desc {
    font-size: 0.1rem;
}

.menus {
    font-size: 0.1rem;
    margin: 3vh 0 20vh 0;
}

.menus img {
    width: 15vw;
    height: 15vw;
}

.menus .wrap {
    text-align: center;
    margin: 2vh 0;
}

.slideshow img {
    position: absolute;
}

/* 滑动时的动画 */
.sliding-from-current-to-left {
    display: block !important;
    animation-name: slide-slideshow-from-current-to-left;
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes slide-slideshow-from-current-to-left {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-120%, 0);
    }
}

.sliding-from-right-to-current {
    z-index: 998;
    display: block !important;
    animation-name: slide-slideshow-from-right-to-current;
    animation-duration: 1200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes slide-slideshow-from-right-to-current {
    0% {
        transform: translate(120%, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.show-slideshow {
    display: block !important;
}
