.bg {
    background-color: lightskyblue;
}

.logo {
    width: 100%;
}

.logo img {
    width: 250px;
    height: 250px;
    transform: translate(0, 20%);
}

.login {
    transform: translate(12%, 80%);
}

.login button {
    width: 250px;
    height: 45px;
    margin: 1px;
    color: rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(136, 188, 240);
}

.login a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.flex {
    width: 100%;
}

.loginImg {
    width: 83%;
    height: 60px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.224);
    transform: translate(10%, 250%);
}

.loginImg img {
    width: 50px;
    height: 50px;
}
